.signin_form-main {
  min-width: 30%;
  max-width: 300px;
  background-color: rgba(78, 78, 78, 0.6);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  input {
    display: block;
    margin: 5px 0 10px 0;
    width: 80%;
  }
  label {
    display: block;
    color:#fff;
    width: 100%;
  }
}

.submit-button {
  border-color:#98012e;
  background-color: #98012e;
  &:hover {
    border-color:#f7931d;
    background-color:#f7931d;
  }
}

.signin_component-main {
  height: 75%;
  background-image: url('../images/header-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:40px;
}