footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  ul {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    justify-content: space-around;
  } 
  background-color: #282828;
  height: 10%;
}